<header class="clearfix">
	<div class="pull-left">
		<button class="btn btn-clear" ng-click="clean = !clean">
			<span class="glyphicon" aria-hidden="true" 
				ng-class="{'glyphicon-eye-open': clean, 'glyphicon-eye-close': !clean}"></span>
		</button>
	</div>
	<div class="pull-right">
		<button class="btn btn-clear" ng-click="showOptions = !showOptions">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		</button>
	</div>
	<div class="header-title">Cineworld <em>Now</em></div>
</header>
<div class="wrapper">
	<div class="container">
		<section class="options">
			<select ng-model="options.cinema" ng-change="saveCinema()" class="form-control"
				ng-options="cinema.id as cinema.name for cinema in cinemas">
				<!-- <option value="">-- choose cinema --</option> -->
			</select>
			<div class="clearfix">
				<button class="btn btn-default pull-left" ng-click="clean=!clean">Show Hidden</button>
				<button class="btn btn-default pull-right" ng-click="debug=!debug">Debug</button>
			</div>
		</section>
		<section class="debug" ng-show="debug">
			<h4>Debug</h4>
			<div>
				<button class="btn btn-default" ng-click="clearAll()">Clear all local storage</button>
			</div>
			<div>
				<button class="btn btn-default" ng-click="clearApi()">Clear local api data</button>
			</div>
			<div>
				<button class="btn btn-default" ng-click="clearHidden()">Clear hidden films</button>
			</div>
		</section>
	</div>
	<div ng-class="{'clean': clean}">
		<div ng-repeat="film in films" film="film" hidden-list="hidden"></div>
	</div> -->
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="film in films">
				<div class="film">
					<!-- {{film.title}} -->
					<div class="poster">
						<div class="poster-title">{{film.title}}</div>
						<img ng-src="{{film.poster}}">
	<div class="selector">
		<div class="selector-button" ng-class="{active: today}" ng-click="today = true; all = false">Today</div>
		<div class="selector-button" ng-class="{active: all}" ng-click="all = true; today = false">All Films</div>
	</div>
					</div>
					<span class="badge" ng-show="film.types.two">2D</span>
					<span class="badge" ng-show="film.types.three">3D </span>
					<span class="badge" ng-show="film.types.imax">IMAX </span>
					<span class="badge" ng-show="film.types.i3d">IMAX 3D </span>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	lost with us
</footer>
