<header class="clearfix">
	<div class="pull-left">
		<button class="btn btn-clear" ng-click="clean = !clean">
			<span class="glyphicon" aria-hidden="true" 
				ng-class="{'glyphicon-eye-open': clean, 'glyphicon-eye-close': !clean}"></span>
		</button>
	</div>
	<div class="pull-right">
		<button class="btn btn-clear" ng-click="showOptions = !showOptions">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		</button>
	</div>
	<div class="header-title">Cineworld <em>Now</em></div>
</header>
<div class="wrapper">
	<div class="container">
		<section class="options" ng-show="showOptions">
			<p><strong>Cinema</strong></p>
			<select ng-model="options.cinema" ng-change="selectCinema()" class="form-control"
				ng-options="cinema.id as cinema.name for cinema in cinemas">
			</select>
			<!-- <div class="clearfix">
				<button class="btn btn-default pull-left" ng-click="clean=!clean">Show Hidden</button>
			</div> -->
			<hr>
			<div>
				<p><strong>All films type indicator</strong></p>
				<label class="radio-inline">
					<input type="radio" name="tab-type" value="colours" ng-model="options.typeTabs"> Colour bars
				</label>
				<label class="radio-inline">
					<input type="radio" name="tab-type" value="labels" ng-model="options.typeTabs"> Labels
				</label>
				<label class="radio-inline">
					<input type="radio" name="tab-type" value="none" ng-model="options.typeTabs"> None
				</label>
			</div>
			<hr>
			<div>
				<button class="btn btn-link" ng-click="debug=!debug">Show debug options</button>
			</div>
		</section>
		<section class="debug" ng-show="debug">
			<h4>Debug</h4>
			<div>
				<button class="btn btn-default" ng-click="clearAll()">Clear all local storage</button>
			</div>
			<div>
				<button class="btn btn-default" ng-click="clearApi()">Clear local api data</button>
			</div>
			<div>
				<button class="btn btn-default" ng-click="clearHidden()">Clear hidden films</button>
			</div>
		</section>
	</div>
	<!-- <div ng-class="{'clean': clean}">
		<div ng-repeat="film in films" film="film" hidden-list="hidden"></div>
	</div> -->
	<div class="selector">
		<div class="selector-button" ng-class="{active: options.panel === 'today'}" 
			ng-click="options.panel = 'today'">Today</div>
		<div class="selector-button" ng-class="{active: options.panel === 'all'}" 
			ng-click="options.panel = 'all'">All Films</div>
	</div>

	<section class="today" ng-show="options.panel === 'today'">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4" ng-repeat="film in films | filter: {today: true}">
					<div class="film">
						<div class="film-title">{{film.title}}</div>
						<img class="film-poster" ng-src="{{film.poster}}" alt="">
						<div ng-repeat="type in film.types">
							<div>{{type.name}}</div>
							<div>
								<div class="btn btn-default" ng-repeat="show in shows">
									{{show.time}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="all-films" ng-show="options.panel === 'all'">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="film in films">
					<div class="film" ng-class-even="'even'">
						<div class="poster">
							<div class="poster-title">{{film.title}}</div>
							<img ng-src="{{film.poster}}">
						</div>
						<div class="type-tabs type-{{options.typeTabs}}">
							<div ng-repeat="(name, type) in film.types" class="type-tab {{name}}" 
								ng-style="{width: 100 / objl(film.types) + '%'}">
								<span class="type-label">{{type.name}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<footer>
	lost with us
</footer>
