$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.film {
	// border-bottom: 1px solid tomato;
	overflow: auto;
	margin: 12px 0;
}

.poster {
	float: left;
	background-color: orange;
	width: 88px;
	height: 130px;
	margin-right: 12px;
}

.title {
	
}

.screening {
	// display: inline-block;
}